$btn-gradient: linear-gradient(45deg, #07d299, #acf4ce);

h1{
    text-align: center;
    font-size: clamp(26px, 10vh, 50px);
    font-weight: bold;
    line-height: 1;
}

.pokemon-image {
    filter: brightness(0%);
    max-width: 100%;
    max-height:  clamp(50px, 50vh, 50vh);
    margin-bottom: 1em;
}

.overlay{
    pointer-events: none;
}

button{
    text-transform: capitalize;
    border: none;
    background: #fff;
    padding: .2em .5em;
    border-radius:5px;
    box-shadow: 2px 2px 5px rgba(0, 5, 0, 0.2);    
    &:hover{
        background: #eee;
        cursor: pointer;
    }
}

.next-pokemon-button{
    visibility: hidden;
    position: absolute;
    right: 25vw;
}

.score{
    margin-bottom: .5em;
}


.propositions{
    display: flex;
    justify-content: space-between;
    gap: .5em;
    margin-inline: 2em;

    .proposition {
        text-transform: capitalize;
        border: none;
        background: #fff;
        padding: .2em .5em;
        border-radius:50px;
        box-shadow: 2px 2px 5px rgba(0, 5, 0, 0.2);    
        &:hover{
            background: #eee;
            cursor: pointer;
        }
    }

    .success{
        background: #07d299;
        pointer-events: none;
    }

    .disabled{
        background: #888;
        pointer-events: none;
    }

    .failed{
        background: #d20707;
        pointer-events: none;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2em;
  }


